{
  "env": {
    "es6": true,
    "node": true,
    "browser": true,
    "jest": true
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    }
  },
  "plugins": ["react-hooks"],
  "parser": "babel-eslint",
  "rules": {
    "strict": 0,
    "react/prop-types": 0,
    "no-unused-vars": "warn",
    "no-console": "warn",
    "react-hooks/rules-of-hooks": "error"
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"]
}
